$clr-white: #ffffff;
$clr-black: #000000;
$clr-Lgray: #dddddd;
$clr-Dgray: #4e504d;
$clr-Rblack: #232020;

$ff-primary: 'Space Mono', monospace;

$break-lg: 1250px;
$break-md: 870px;
$break-sm: 480px;
