* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-primary;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
	font-size: 70px;
	font-weight: 400;
}
h2 {
	font-size: 33px;
	font-weight: 400;
}
h3 {
	font-size: 18px;
	font-weight: 400;
}
h4 {
	font-size: 16px;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	font-weight: 400;
}
h6 {
	font-size: 12px;
	font-weight: 400;
}
p {
	font-size: 16px;
	line-height: 24px;
}
img {
	display: block;
}

html {
	scroll-behavior: smooth;
}