@mixin centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mediaQuery($width: 48rem) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin btn($bg) {
  padding: 0.8rem 1.5rem;
  color: $clr-black;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;
  background: $bg;
  &:hover {
    background: darken($bg, 10);
  }
}

@mixin grid($cols: 1, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: $gap;
}
